/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

#left-button {
  margin-left: 10px
}
#right-button {
  margin-left: 10px
}


img[alt=drawing] { width: 300px; }
