/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

#left-button {
  margin-right: 5px
}
#right-button {
  margin-left: 5px
}


img[alt=drawing] {
   width: 300px;
   margin-left: 5px;
   margin-right: 5px;
   }
